html {
  font-size: 100%;
}

body {
  font-family: "YuMincho", "游明朝体", "YuMincho", "游明朝", "Yu Mincho", 'Noto Serif Japanese', "Hiragino Mincho ProN", "ヒラギノ明朝 Pro W3", "Times New Roman", HGS明朝E, メイリオ, Meiryo, serif;
  margin: 0px;
}

/* 全ページ共通ヘッダ */

.page-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 4%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  background: #fff;
  z-index: 9999;
}

.page-header h3 {
  margin-top: 10px;
  margin-left: 50px;
}

.page-header a {
  text-decoration: none;
  color: #000;
}

.main-nav {
  display: flex;
  font-size: 0.85rem;
  margin-top: 45px;
  margin-right: 100px;
  list-style: none;
}

.main-nav a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #808080;
}

.main-nav a::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #C0C0C0;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.main-nav a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

.main-nav li {
  margin-left: 20px;
}

/* 全ページ共通main */

.main-content {
  background-image:url("../img/background-gray.jpg");
  padding-top: 100px;
  padding-bottom: 100px;
}

.main-content h1 {
  color: #333333;
  margin-top: 2rem;
  margin-left: 6rem;
}

.main-content ul {
  margin-top: 0px;
}


/* index.html ホーム*/
img {
  width: 100%;
}

.news-content {
  width: 500px;
  margin-left: 6rem;
  margin-top: 10rem;
  list-style: none;
}

.news-content h2 {
  margin: 0px;
  color: #000;
}

.news-content dl{
  display: flex;
}

.news-content dt {
  color: #696969;
  margin-left: 2rem;
  margin-right: 0px;
}


.news-content a {
  text-decoration: none;
  color: #696969;
}

.news-content a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.news-content a::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #808080;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.news-content a:hover::after {
  bottom: -1px;
  opacity: 1;
  visibility: visible;
}

.feature-content {
  width: 85%;
  height: 500px;
  padding: 30px 30px;
  margin-right: auto; 
  margin-left: auto;
  margin-bottom: 100px;
  margin-top: 10rem;
  list-style: none;
  border: 1px solid #808080;
  background: #fff;
  background-image:url("../img/feature.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  box-sizing: border-box;
}

.feature-content h2 {
  margin: 0px;
  color: #fff;
}

.feature-content p {
  margin-left: 2rem;
  font-size: 0.85rem;
}

.map-content {
  margin-top: 180px;
  text-align: center;
}

iframe {
  width: 85%;
  height: 500px;
  border: 1px solid #808080;
}


/* room.html 部屋紹介 */
.room-info h2 {
  color: #696969;
  margin-left: 9rem;
}

.room {
  display: flex;
  width: 900px;
  margin: 0 auto;
}

.room img {
  display: flex;
  width: 50%;
  height: 300px;
  margin-right: 5px;
}

.room-details {
  color: #696969;
  width: 50%;
  padding-left: 20px;
  height: 300px;
  margin: 0 auto;
}

.room-details h3{
  margin-top: 3rem;
  margin-left: 2rem;
}

.room-details p {
  line-height: 1rem;
  margin-left: 4rem;
}

.room-picutre {
  display: flex;
  list-style: none;
  width: 900px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 0px;
}

.room-picutre:last-child {
  margin-bottom: 0px;
}

.room-picutre li {
  margin-top: 10px;
  margin-right: 10px;
}

/* access.html アクセス */
.access-route {
  color: #696969;
  margin-left: 9rem;
  margin-bottom: 100px;
}

.access-route p {
  margin-left: 2rem;
  line-height: 10px;
}


/* factinfo.html 設備情報 */
.fact-info {
  position:relative;
  display: flex;
  color: #696969;
  margin-left: 9rem;
  margin-bottom: 150px;
}

.fact-info:last-child {
  margin-bottom: 50px;
}

.fact-info h2{
  margin: 0px;  
}

.fact-info p {
  margin-left: 2rem;
  line-height: 10px;
}

.fact-info img {
  position:absolute;
  width: 300px;
  height: 200px;
  top: 3rem;
  left: 40rem; 
}

/* neighbor.html 近隣情報 */
.neighbor-desc {
  margin-left: 9rem;
  margin-bottom: 3rem;
}

.neighbor-desc p {
  margin: 0px;
  color: #333333;
}

.neighbor-info {
  position:relative;
  display: flex;
  color: #696969;
  margin-left: 9rem;
  margin-bottom: 200px;
}

.neighbor-info:last-child {
  margin-bottom: 100px;
}

.neighbor-info h2{
  margin: 0px;  
}

.neighbor-info p {
  margin-left: 2rem;
  line-height:  10px;
}

.neighbor-info img {
  position:absolute;
  width: 300px;
  height: 200px;
  top: 3rem;
  left: 40rem; 
}

/* news.html お知らせ */
.news-info {
  position:relative;
  display: flex;
  color: #696969;
  margin-left: 9rem;
  margin-bottom: 100px;
}

.news-info:last-child {
  margin-bottom: 0px;
}

.news-info dl {
  margin-left: 2rem;
  margin-bottom: 100px;
}

.news-info dd {
  margin-left: 0px;
}

.news-info img{
  position:absolute;
  width: 300px;
  height: 200px;
  top: 5rem;
  left: 40rem; 
}

/* company.html 会社情報*/
.company-info {
  color: #696969;
  margin-left: 9rem;
  margin-bottom: 100px;
}

.company-info:last-child {
  margin-bottom: 50px;
}

.company-info h2{
  margin: 0px;  
}

.company-info p {
  margin-left: 2rem;
  line-height: 10px;
}


/* 全ページ共通フッター */
.page-footer {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  padding: 0 4%;
  margin: auto;
  margin-bottom: 20px;
}

.footer-address {
  line-height: 10px;
}

.footer-address h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-address p{
  font-size: 0.85rem;
}

.footer-nav {
  display: flex;
  font-size: 0.85rem;
  list-style: none;
}

.footer-nav li {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.footer-nav a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #808080;
}

.footer-nav a::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #C0C0C0;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.footer-nav a:hover::after {
  bottom: -1px;
  opacity: 1;
  visibility: visible;
}